@model LibraryMVCAPP.Models.IssueBook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IssueBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssueCopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueCopies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuesDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuesDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedNoOfcopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedNoOfcopies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTable.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTable.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IssueBookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
