@model LibraryMVCAPP.Models.BookType

@{
    ViewBag.Title = "Book Type";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"> Book Type Details</h6>
    </div>

    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.User.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.Username)
                </dd>

            </dl>
        </div>
        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.BookTypeID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
